.ErrorMessage {
    width: 100vw;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ddd6d6;
    min-height: 100vh;
    text-align: center;

}

.message {
    font-size: 54px;
    width: 90vw;
    background-color: var(--main-color);
    color: var(--secondary-color);
    font-style: italic;
    border: 4px solid var(--accent-color);
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.9);
}