.errorContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-color: #eee;
    margin-top: 15rem;
    border-radius: 10px;
}

.Error {
    font-size: 100px;
    color: var(--secondary-color);
    display: flex;
    justify-content: center;

}

.errorText {
    font-size: 60px;
    color: var(--secondary-color);
    display: flex;
    justify-content: center;
}