@import '../../assets/theme.module.css';


/* Стили кнопок */
.addButton,
.editButton,
.deleteButton,
.saveButton,
.cancelButton,
.checkButton {
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.addButton {
    background-color: var(--accent-color);
    width: 23rem;
    height: 3rem;
    font-size: 22px;
    margin-right: 2rem;
}

.editButton,
.saveButton,
.deleteButton {
    background-color: var(--primary-color);
}

.deleteButton,
.cancelButton {
    background-color: var(--secondary-color);
}

.checkButton {
    background-color: var(--accent-color);
    width: 90%;
    height: 5rem;
    margin: 10px 10px;
    align-self: center;
    font-size: 30px;
}

.buttonPrev,
.buttonNext {
    width: 50px;
    height: 50px;
}

.buttonPrev:hover,
.buttonNext:hover,
.checkButton:hover {
    background-color: var(--accent-color);
}

.buttonPrev:active,
.buttonNext:active,
.checkButton:active {
    transform: scale(0.95);
}

.buttonPrev {
    margin-right: 5rem;
    margin-left: 1rem;
    background-color: var(--primary-color);
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    transition: transform 0.3s ease;
}

.buttonNext {
    margin-left: 5rem;
    background-color: var(--primary-color);
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    transition: transform 0.3s ease;
}

.buttonPlay,
.buttonList {
    background-color: var(--primary-color);
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    width: 30rem;
    height: 5rem;
    margin: 15rem;
    transition: background-color 0.3s ease;
    font-size: 28px;
    border: 4px solid var(--accent-color);
}

.buttonPlay:hover,
.buttonList:hover {
    color: var(--secondary-color);
}

.buttonPlay:focus,
.buttonList:focus {
    outline: 4px auto var(--secondary-color);
}