.wordTableContainer {
    display: flex;
    padding-top: 200px;
}

.wordTable {
    display: table;
    width: 80vw;

    box-shadow: 0 0 10px rgba(0, 0, 0, 0.9);
    margin-left: auto;
    margin-right: auto;

    border: 4px solid var(--accent-color);
    border-radius: 10px;
    background-color: var(--main-color);
}

.wordTableTitle {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 3rem;

}

.wordTable h1 {
    text-align: center;
    margin-left: 25rem;

}

.wordTable table {
    width: 100%;
    border: 1px solid #ccc;
    background-color: white;
}

.wordTable th,
.wordTable td {
    border: 1px solid #ccc;
    padding: 8px;
    text-align: center;

}

.wordTable th {
    background-color: #f2f2f2;
    font-weight: bold;

}

.redBorder {
    border: 2px solid red;

}